<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maple_mature_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,93}</string>
                <key>spriteSourceSize</key>
                <string>{48,93}</string>
                <key>textureRect</key>
                <string>{{0,103},{48,93}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 5 2 3 4 1 2 4 1 4 5 0 5 6</string>
                <key>vertices</key>
                <string>48 1 48 46 33 93 14 93 0 50 0 18 8 0</string>
                <key>verticesUV</key>
                <string>92 151 47 151 0 136 0 117 43 103 75 103 93 111</string>
            </dict>
            <key>maple_mature_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{48,90}</string>
                <key>textureRect</key>
                <string>{{0,151},{48,90}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 7 8 9 4 7 9 6 7 4 6 4 5 11 12 13 10 11 13</string>
                <key>vertices</key>
                <string>2 90 0 90 0 88 2 88 48 40 34 90 16 90 0 34 0 0 48 0 2 76 0 76 0 73 2 73</string>
                <key>verticesUV</key>
                <string>0 153 0 151 2 151 2 153 50 199 0 185 0 167 56 151 90 151 90 199 14 153 14 151 17 151 17 153</string>
            </dict>
            <key>maple_mature_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{48,90}</string>
                <key>textureRect</key>
                <string>{{0,151},{48,90}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 7 8 9 4 7 9 6 7 4 6 4 5 11 12 13 10 11 13</string>
                <key>vertices</key>
                <string>2 90 0 90 0 88 2 88 48 40 34 90 16 90 0 34 0 0 48 0 2 76 0 76 0 73 2 73</string>
                <key>verticesUV</key>
                <string>0 153 0 151 2 151 2 153 50 199 0 185 0 167 56 151 90 151 90 199 14 153 14 151 17 151 17 153</string>
            </dict>
            <key>maple_mature_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,95}</string>
                <key>spriteSourceSize</key>
                <string>{41,95}</string>
                <key>textureRect</key>
                <string>{{0,15},{41,95}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>41 45 29 95 6 95 0 25 0 0 41 0</string>
                <key>verticesUV</key>
                <string>50 56 0 44 0 21 70 15 95 15 95 56</string>
            </dict>
            <key>oak_mature_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{48,91}</string>
                <key>textureRect</key>
                <string>{{0,199},{48,91}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>48 41 33 91 14 91 0 34 0 0 48 0</string>
                <key>verticesUV</key>
                <string>50 247 0 232 0 213 57 199 91 199 91 247</string>
            </dict>
            <key>oak_mature_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{48,92}</string>
                <key>textureRect</key>
                <string>{{0,247},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>48 47 35 92 15 92 0 45 0 0 48 0</string>
                <key>verticesUV</key>
                <string>45 295 0 282 0 262 47 247 92 247 92 295</string>
            </dict>
            <key>oak_mature_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{48,92}</string>
                <key>textureRect</key>
                <string>{{0,247},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>48 47 35 92 15 92 0 45 0 0 48 0</string>
                <key>verticesUV</key>
                <string>45 295 0 282 0 262 47 247 92 247 92 295</string>
            </dict>
            <key>oak_mature_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,95}</string>
                <key>spriteSourceSize</key>
                <string>{41,95}</string>
                <key>textureRect</key>
                <string>{{0,15},{41,95}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>41 45 29 95 6 95 0 25 0 0 41 0</string>
                <key>verticesUV</key>
                <string>50 56 0 44 0 21 70 15 95 15 95 56</string>
            </dict>
            <key>pine_mature_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{48,92}</string>
                <key>textureRect</key>
                <string>{{0,295},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>4 5 6 3 1 2 3 4 1 0 1 4 0 4 6</string>
                <key>vertices</key>
                <string>48 22 48 59 33 92 15 92 0 56 0 3 28 0</string>
                <key>verticesUV</key>
                <string>70 343 33 343 0 328 0 310 36 295 89 295 92 323</string>
            </dict>
            <key>pine_mature_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,92}</string>
                <key>spriteSourceSize</key>
                <string>{47,92}</string>
                <key>textureRect</key>
                <string>{{0,56},{47,92}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 7 9 10 7 8 9 6 7 10 4 6 10 4 5 6</string>
                <key>vertices</key>
                <string>2 92 0 92 0 90 2 90 47 92 11 92 0 54 0 38 1 18 21 0 47 0</string>
                <key>verticesUV</key>
                <string>0 58 0 56 2 56 2 58 0 103 0 67 38 56 54 56 74 57 92 77 92 103</string>
            </dict>
            <key>pine_mature_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,92}</string>
                <key>spriteSourceSize</key>
                <string>{47,92}</string>
                <key>textureRect</key>
                <string>{{0,56},{47,92}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 7 9 10 7 8 9 6 7 10 4 6 10 4 5 6</string>
                <key>vertices</key>
                <string>2 92 0 92 0 90 2 90 47 92 11 92 0 54 0 38 1 18 21 0 47 0</string>
                <key>verticesUV</key>
                <string>0 58 0 56 2 56 2 58 0 103 0 67 38 56 54 56 74 57 92 77 92 103</string>
            </dict>
            <key>pine_mature_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{48,91}</string>
                <key>textureRect</key>
                <string>{{0,343},{48,91}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 5 6 0 4 5 0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>48 57 33 91 15 91 0 54 0 21 21 0 48 0</string>
                <key>verticesUV</key>
                <string>34 391 0 376 0 358 37 343 70 343 91 364 91 391</string>
            </dict>
            <key>sapling_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{23,0},{15,30}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>15 30 0 30 0 0 15 0</string>
                <key>verticesUV</key>
                <string>23 15 23 0 53 0 53 15</string>
            </dict>
            <key>sapling_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{53,0},{15,30}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>15 30 0 30 0 0 15 0</string>
                <key>verticesUV</key>
                <string>53 15 53 0 83 0 83 15</string>
            </dict>
            <key>sapling_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{53,0},{15,30}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>15 30 0 30 0 0 15 0</string>
                <key>verticesUV</key>
                <string>53 15 53 0 83 0 83 15</string>
            </dict>
            <key>sapling_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,23}</string>
                <key>spriteSourceSize</key>
                <string>{11,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>11 23 0 23 0 0 11 0</string>
                <key>verticesUV</key>
                <string>0 11 0 0 23 0 23 11</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tree.png</string>
            <key>size</key>
            <string>{95,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e1f8139d5d0205a655ae66c97864c3f:5f51c49e8a3ba1218b13280090f6c1cc:34f82d99dfec6e948a5da95a470863ea$</string>
            <key>textureFileName</key>
            <string>tree.png</string>
        </dict>
    </dict>
</plist>
